.popup__title {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29/24);
  padding-bottom: 40px;
  margin: 0;
}

@media screen and (max-width: 618px) {
  .popup__title {
    font-size: 18px;
    line-height: calc(22/18);
    padding-bottom: 68px;
  }
}