.profile {
  width: 100%;
  margin: 40px auto 50px;
  display: grid;
  grid-template-columns: 120px minmax(auto, 550px) 150px;
  column-gap: 30px;
  grid-template-areas: "photo content button";
  align-items: center;
}

@media screen and (max-width: 650px) {
  .profile {
    grid-template-columns: minmax(282px, 550px);
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    grid-template-areas:
      "photo"
      "content"
      "button";
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 42px auto 36px;
    grid-template-columns: minmax(max-content, 550px);
  }
}
