.form__container {
  box-sizing: border-box;
  /* position: relative; */
  margin: 60px auto;
  max-width: 358px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
}

@media screen and (max-width: 618px) {
  .form__container {
    padding: 25px 22px;
    max-width: 282px;
  }
}