.form__button-save_theme_dark {
  background: white;
  color: black;
  margin-top: 216px;
  margin-bottom: 0;
}

.form__button-save_theme_dark:disabled {
  background-color: transparent;
  color: white;
  opacity: .3;
  border: 1px solid white;
  cursor: default;
}

.form__button-save_theme_dark:disabled:hover {
  opacity: .3;
}