.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 919px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 54vw;
  }
}

@media screen and (max-width: 650px) {
  .profile__title {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    max-width: 226px;
    width: 100%;
  }
}