.profile__button-edit {
  padding: 0;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  margin: 7px auto 0;
  background-image: url(../../../images/edit-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media (hover: none) {
  .profile__button-edit:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 919px) {
  .profile__button-edit {
    margin-top: 0;
    width: 18px;
    height: 18px;
  }
}