.profile__title-container {
  column-gap: 19px;
  display: grid;
  grid-template-columns: minmax(auto, min-content) 24px;
  grid-template-rows: max-content;
  align-items: center;
}

@media screen and (max-width: 919px) {
  .profile__title-container {
    grid-template-columns: minmax(auto, min-content) 18px;
  }
}

@media screen and (max-width: 650px) {
  .profile__title-container {
    grid-template-columns: max-content 18px;
    gap: 10px;
    margin: 0 auto;
    padding-left: 28px;
  }
}